.igeb_Control
{
    background-color: transparent;
    color: #000000;
    font-size: xx-small;
    font-family: Segoe UI, Verdana, Helvetica, sans-serif;
    overflow-x: hidden;
    border: solid 1px #CCCCCC;
    border-top-width: 0px;
	
	/* IE6 fix to remove control's scroll bar */
	_overflow:hidden!important;
}

.igeb_GroupLink
{
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    /* Used to give padding to group icons */
    padding-left:6px
}


.igeb_Holder
{
}

.igeb_ItemImage
{   
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
}


.igeb_Group
{
    display: block;
    height: 30px;
    vertical-align: middle;
    overflow: hidden;
    line-height: 30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #003366;
}

.igeb_Group a:visited
{
    color: #003366;
}

.igeb_Group a
{
    color: #003366;
}


.igeb_GroupHover
{
    background-position: 0px -30px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #0060BF;
}

.igeb_GroupHover a:visited
{
    color: #0060BF;
}

.igeb_GroupHover a
{
    color: #0060BF;
}

.igeb_GroupLabel
{
    margin-left: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: Segoe UI, Verdana, Sans-Serif;
    text-decoration: none;
}

.igeb_ItemLink
{
    display: block;
    text-decoration: none;
    color: #333333;
    padding-top: 2px;
    padding-bottom: 2px;
}

.igeb_GroupSelected
{
    background-position: 0px -60px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #003366;
}

.igeb_GroupSelected a:visited
{
    color: #003366;
}

.igeb_GroupSelected a
{
    color: #003366;
}

.igeb_GroupActive
{
    background-position: 0px -60px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: #0060BF;
}

.igeb_GroupActive a:visited
{
    color: #003366;
}

.igeb_GroupActive a
{
    color: #003366;
}

.igeb_GroupDisabled
{
    background-position: 0px -90px;
    background-repeat: repeat-x;
    background-image: url(images/igeb_GroupBg.png);
    color: gray;
}

.igeb_Item
{
    background-color: #FFFFFF;
    line-height: 22px;
}

    /* IE 7 fix to icon bad alignment*/
    .igeb_Item  ,.igeb_ItemActive ,.igeb_ItemSelected 
    {
       min-height:30px;
       
       /* IE6 specific fix */
       _height:30px;
    }
    
.igeb_ItemLabel
{
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-family: Segoe UI, Verdana, Arial, Sans-Serif;
}

.igeb_GroupExpanderImage
{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.igeb_ItemSelected
{
    background-color: #FFCC33;
    background-repeat: repeat-x;
    color: #FFFFFF;
}

.igeb_ItemActive
{
    background-color: #FFCC33;
    color: #FFFFFF;
}

.igeb_ItemHover
{
    background-color: #FFCC33;
    /*color: #FFFFFF;*/
}

.igeb_ItemParent
{
    background-image: url(images/igeb_Bullet.png);
    background-repeat: no-repeat;
}

.igeb_ItemDisabled
{
    
}
    /* IE 7 Disabled item fix */
    
    .igeb_ItemDisabled a:visited, .igeb_ItemDisabled a
    {
        color: Gray;
    }

.igeb_GroupContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.igeb_ItemContents
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}


.igeb_ItemHolder
{
}



.igeb_ItemHolder img
{
    vertical-align: middle;
}
